/* AuthPage.scss */
@media (max-width: 768px) {
  .modal-dialog {
    max-width: none;
    width: 90%;
  }
  .d-none.d-md-flex {
    display: none !important;
  }
}

.bg-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 51, 102, 0.8);
  z-index: 1;
}

.content-column {
  position: relative;
  z-index: 2;  
  
  @media (max-width: 600px) {
    color: #fff; /* 小屏幕下设置为白色 */
  }
}

.modal-custom { /* 新增类名 .modal-custom 用于定制模态框样式 */
  max-width: 600px; /* 固定模态框宽度 */
  background-color: #fff; 
  border: 1px solid #adb5bd; /* 边框颜色 */
  border-radius: 0.3rem; /* 边框圆角 */
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1); /* 边框阴影 */
  .modal-content {
    padding: 20px; /* 内容间距 */
  }
  z-index: 2;
}

.border-light-gray {
  border-color: #adb5bd !important;
}

.text-light {
  color: #fff;
}

.btn-custom {
  background-color: #fff;
  color: #000;
  border-color: #000;

  &:hover {
    background-color: #eee;
    color: #000;
  }
}

.modal-custom {
  .modal-title {
    font-weight: bold; /* 标题字体粗细 */
    font-size: 24px; /* 标题字体大小 */
    color: #004085; /* 标题字体颜色 */
  }

  .modal-body {
    font-size: 16px; /* 正文字体大小 */
    color: #004085; /* 正文字体颜色 */
    p {
      margin-bottom: 1rem; /* 段落间距 */
    }
  }
  .modal-footer {
    justify-content: flex-start; /* 调整按钮位置 */
    button {
      margin-right: 1rem; /* 按钮间距 */
    }
  }
}


@media (max-width: 600px) {
  .modal-custom,
  .modal-content {
    width: 100%;
    margin: 0;
    padding: 20px; /* 保持内容间距 */
    border: none;
    background: transparent;
    box-shadow: none;
    
    .modal-title, .modal-body, .modal-footer {
      color: #fff; /* 设置小屏幕下的文本颜色为白色 */
    }
  }

  .modal-header, .modal-footer {
    display: none; /* 在小屏幕上隐藏头部和脚部 */
  }
}
