@import '../../assets/variables.scss';
.sidebar {
  background-color: $primary-color;  // 使用variables中的主要颜色
  color: $text-dark-color; // 使用variables中的暗色文字
  width: 250px; // 或者使用一个变量来定义宽度
  height: 100vh; // 使Sidebar从顶到底
  position: fixed;
  top: 0;
  left: 0;
  border-right: 1px solid $border-color; // 使用variables中的边框颜色
  font-family: $font-family-base;
}

.sidebar-logo {
  padding: $spacing-base;
  text-align: center;
  img {
    width: 100px;
  }
  color: $text-light-color;
}

.sidebar-submenu {
  padding: $spacing-base;
}

.create-new-btn {
  background-color: $primary-color; // 主按钮颜色
  border-color: $primary-color;
  margin: $spacing-sm $spacing-base;
  &:hover {
    background-color: darken($primary-color, 10%);
    border-color: darken($primary-color, 10%);
  }
}

.sidebar-menu {
  padding: $spacing-base;
  .menu-item {
    padding: $spacing-sm;
    color: $text-light-color;
    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

.sidebar-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: $spacing-base;
  color: $text-light-color;
  text-align: center;
}



// 更多Sidebar样式...
